<div>
    <form #f=ngForm (ngSubmit)="buscarClick(f.value)">
        <div class="row">

            <div class="field-element">
                <label for="">Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="filtro.nombre">
            </div>
            <div class="field-element">
                <label for="">Estado</label>
                <select name="estado" [(ngModel)]="filtro.estado">
                    <option></option>
                    <option *ngFor="let item of estados" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="row-reverse">
            <button class="btn primary">Buscar</button>
            <button class="btn" type="button" (click)="f.reset()">Reset</button>
        </div>
    </form>
</div>